*{
    margin: 0px;
    padding: 0px;
    border:0px;
    position: relative;
}

#header{
    position: absolute;
    margin-top: 100px;
}

#JDlogo{
    position: absolute;
    margin-left: 160px;
}
#logo-title{
    position: absolute;
    margin-left: 330px;
    margin-top: 35px;
    font-size: 24px;
}
#have-account{
    position: absolute;
    margin-left: 1200px;
    margin-top: 50px;
    
}

#cheek{
    position: absolute;
    margin-top:105px; 
    width:100%;
    height:5px;
    background-color: gainsboro;
}

#center{
    position: absolute;
    margin: auto;
    margin-top:115px; 
    width:100%;
    height:1000px;
}

#tips{
    position: absolute;
    width:380px;
    height:49px;
    margin-top:110px;
    margin-left: 550px;
}

#word li{
    
    list-style: none;
    font-size: 12px;
}
#word1{
    position: absolute;
    margin-left:550px;
    margin-top: 160px;
    color: #33BB44;
}
#word2{
    position: absolute;
    margin-left:710px;
    margin-top: 160px;
}
#word3{
    position: absolute;
    margin-left:880px;
    margin-top: 160px;
}

#number{
    position: absolute;
    margin-left:710x;
    margin-top: 250px;
}

#key{
    position: absolute;
    border:1px solid black;
    margin-left: 630px;
    
}
#local{
    position: absolute;
    border:1px solid black;
    margin-left: 550px;
    font-size: 15px;
    background-color: white;
}
#check{
    position: absolute;
    border:1px solid black;
    margin-left: 550px;
    margin-top:100px;
    background-color: white;
    font-size: 14px;
    
}
#next{
    position: absolute;
    border:1px solid black;
    margin-left: 550px;
    margin-top:200px;
    background-color: red;
    font-size: 16px;
}
#user1{
    float: left;
    list-style-type: none;
    margin-left: 550px;
    margin-top: 270px;
    font-size: 14px;
}
#user2{
    float: left;
    list-style-type: none;
    margin-left: 200px;
    margin-top: 272px;
    font-size: 14px;
}
}