@charset "UTF-8";

.mobile_pop_item {
  position: relative;
  z-index: 5;
  padding: 15px 0;
  border-bottom: 1px solid #e7e7e7;
}

.mobile_pop_device_lk {
  background-image: url(../img/sprite_mobile@1x.png);
}

.mobile_pop_qrcode {
  position: absolute;
  left: 5px;
  top: 14px;
  width: 74px;
  height: 74px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}

.mobile_pop_qrcode img {
  width: 70px;
  height: 70px;
  margin: 2px 0 0 2px;
}

.mobile_pop_info {
  margin: 0 10px 0 86px;
  min-height: 70px;
}

.mobile_pop_tit {
  font-size: 12px;
  line-height: 17px;
  color: #666 !important;
}

.mobile_pop_tit a {
  color: #666 !important;
}

.mobile_pop_value {
  margin: 3px 0;
  line-height: 14px;
  color: #f10214;
}

.mobile_pop_device {
  overflow: hidden;
  height: 25px;
}

.mobile_pop_device_lk {
  overflow: hidden;
  float: left;
  margin-right: 2px;
  width: 25px;
  height: 25px;
  text-indent: -999px;
}

.mobile_pop_device_ios {
  background-position: 0 0;
}

.mobile_pop_device_and {
  background-position: 0 -26px;
}

.mobile_pop_device_pad {
  background-position: 0 -52px;
}


#J_seckill {
  position: relative;
  z-index: 10;
}

@charset "UTF-8";
.mod_footer {
  height: 500px;
  background-color: #eaeaea;
}

/* 服务承诺 */
.mod_service {
  padding: 30px 0;
  border-bottom: 1px solid #dedede;
}

.mod_service_list {
  overflow: hidden;
  height: 42px;
}

.mod_service_item {
  float: left;
  width: 297px;
}

.mod_service_unit {
  position: relative;
  margin: 0 auto;
  padding-left: 45px;
  width: 180px;
}

.mod_service_tit {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 42px;
  text-indent: -999px;
}

.mod_service_txt {
  overflow: hidden;
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444;
}

/* 多快好省的图标 */
.mod_service_duo {
  background-repeat: no-repeat;
  background-position: 0 -192px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_service_kuai {
  background-repeat: no-repeat;
  background-position: -41px -192px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_service_hao {
  background-repeat: no-repeat;
  background-position: -82px -192px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_service_sheng {
  background-repeat: no-repeat;
  background-position: -123px -192px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

/* 帮助清单 */
.mod_help {
  padding: 20px 0;
}

.mod_help_list {
  overflow: hidden;
  height: 160px;
}

.mod_help_nav {
  float: left;
  width: 198px;
  line-height: 22px;
}

.mod_help_nav_tit {
  margin-bottom: 5px;
  font-size: 14px;
}

.mod_help_cover {
  background-repeat: no-repeat;
  background-position: 0 0;
  float: right;
  width: 200px;
  height: 150px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_help_cover_tit {
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

.mod_help_cover_con {
  padding: 0 10px;
}

.mod_help_cover_more {
  text-align: right;
}

/* 版权信息 */
.mod_copyright_inner {
  padding: 15px 0;
  border-top: 1px solid #e1e1e1;
  text-align: center;
}

.mod_copyright_split {
  margin: 0 10px;
  color: #ccc;
}

.mod_copyright_info {
  padding: 10px 0;
  line-height: 22px;
  color: #999;
}

.mod_copyright_info a {
  color: #999;
}

.mod_copyright_info a:hover {
  color: #c81623;
}

.mod_copyright_inter_ico {
  display: inline-block;
  width: 15px;
  height: 10px;
  vertical-align: -1px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.mod_copyright_inter_ico_global {
  background-repeat: no-repeat;
  background-position: -108px -155px;
  width: 15px;
  height: 12px;
  margin-top: -1px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_copyright_inter_ico_rissia {
  background-repeat: no-repeat;
  background-position: -168px -155px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_copyright_inter_ico_indonesia {
  background-repeat: no-repeat;
  background-position: -148px -155px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_copyright_inter_ico_thailand {
  background-repeat: no-repeat;
  background-position: -108px -172px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_copyright_inter_ico_spain {
  background-repeat: no-repeat;
  background-position: -128px -155px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_copyright_auth {
  margin: 25px 0;
}

.mod_copyright_auth_ico {
  overflow: hidden;
  display: inline-block;
  margin: 0 3px;
  width: 103px;
  height: 32px;
  line-height: 1000px;
}

.mod_copyright_auth_ico_1 {
  background-repeat: no-repeat;
  background-position: -205px -148px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_copyright_auth_ico_2 {
  background-repeat: no-repeat;
  background-position: -205px -111px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_copyright_auth_ico_3 {
  background-repeat: no-repeat;
  background-position: -205px -74px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_copyright_auth_ico_4 {
  background-repeat: no-repeat;
  background-position: -205px -37px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_copyright_auth_ico_5 {
  background-repeat: no-repeat;
  background-position: -205px 0;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_copyright_auth_ico_6 {
  background-repeat: no-repeat;
  background-position: 0 -155px;
  background-image: url(../img/23f3ddf914b1b527d0429a3d713cfe3a.png);
}

.mod_copyright_license {
  margin-left: 16px;
}


.seckill-list {
  position: relative;
  float: left;
  width: 800px;
  height: 100%;
  overflow: hidden;
}

.seckill-list .seckill-item {
  position: relative;
  width: 200px;
  height: 260px;
  display: inline-block;
}

.seckill-list .seckill-item__image {
  width: 140px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.seckill-list .seckill-item__name {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
}

.seckill-list .seckill-item__price {
  width: 160px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

.seckill-brand {
  position: relative;
  float: left;
  width: 200px;
  height: 260px;
  padding: 10px;
  box-sizing: border-box;
}

.seckill-brand .brand-item {
  position: relative;
  height: 240px;
}

.seckill-brand .brand-item .item-image {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.seckill-brand .brand-item .item-info {
  width: 100%;
  height: 90px;
  margin-top: 10px;
  box-sizing: border-box;
}

.seckill {
  height: 260px;
  margin-bottom: 20px;
}

.seckill__inner {
  height: 100%;
  overflow: hidden;
}

.seckill-countdown {
  position: relative;
  float: left;
  width: 190px;
  height: 100%;
}

@charset "UTF-8";

.channels .slider {
  position: relative;
}

.channels .slider_list {
  width: 1190px;
  height: 750px;
  overflow: hidden;
}

.top_list {
  position: relative;
  padding-left: 300px;
  padding-top: 10px;
}

.top_item {
  position: relative;
  width: 270px;
  height: 70px;
  margin-bottom: 15px;
}

.top_item_1 {
  position: absolute;
  height: 180px;
  left: 15px;
  top: 0;
  background-color: rgb(248,249,250);
}

.top_list_boards {
  position: absolute;
  width: 272px;
  top: 182px;
  left: 15px;
}

.top_list_boards_lk {
  width: 134px;
  height: 40px;
  line-height: 35px;
  font-size: 12px;
  text-indent: 8px;
  transition: all .2s ease;
  position: relative;
  display: inline-block;
  background-color: rgb(248,249,250);
  text-align: center;
}


.lightning-buy__loading {
  width: 590px;
  margin-right: 0;
}

.lightning-buy__loading .skeleton-header {
  width: 270px;
}

.lightning-buy__container {
  padding: 0 20px 0 15px;
  height: 280px;
}

.lightning-buy .goods-core {
  width: 270px;
  height: 265px;
  margin-right: 15px;
  display: inline-block;
}

.lightning-buy .goods-others {
  width: 270px;
  display: inline-block;
  vertical-align: top;
  margin-top: -40px;
  float: right;
}

.lightning-buy .goods-others .other-item {
  position: relative;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  width: 130px;
  height: 100px;
  padding: 14px 0;
  box-sizing: border-box;
}

.elevator {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 615px;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  z-index: 100;
}

.elevator_fix {
  position: fixed;
  top: 75px;
  -webkit-animation: eleShow ease 0.5s both;
          animation: eleShow ease 0.5s both;
}

.elevator_recommend {
  -webkit-transform: translate(0, 60px);
      -ms-transform: translate(0, 60px);
          transform: translate(0, 60px);
}

.elevator_list {
  overflow: hidden;
}

.elevator_lk {
  position: relative;
  display: block;
  width: 28px;
  height: 38px;
  line-height: 19px;
  font-size: 14px;
  color: #333;
  padding: 10px 16px;
  transition: color ease 0.2s;
  background: #fff;
  z-index: 1;
}

.elevator_lk:focus {
  outline: 0;
}

.elevator_lk_txt {
  position: relative;
  z-index: 3;
}

.elevator_lk_bg {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: 2;
  background: transparent;
  transition: background ease 0.2s;
}

.elevator_lk_cur {
  color: #e1251b;
}

.elevator_lk:after {
  position: absolute;
  width: 40px;
  height: 1px;
  left: 50%;
  bottom: 0;
  margin-left: -20px;
  background: linear-gradient(270deg, white, #eeeeee, #eeeeee, white);
  z-index: 1;
  content: '';
}

.elevator_lk:hover {
  color: #fff;
}

.elevator_lk:hover .elevator_lk_bg {
  background: #c81623;
}

.elevator_lk2 svg {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  fill: #333;
  margin: 0 auto 3px;
  transition: fill ease 0.2s;
  z-index: 3;
}

.elevator_lk2:hover svg {
  fill: #fff;
}

.elevator_totop {
  display: block;
  height: 50px;
  padding-top: 10px;
  color: #e1251b;
  background: #fff;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  transition: all ease 0.2s;
}

.elevator_fix .elevator_totop {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.elevator_totop:focus {
  outline: 0;
}

.elevator_totop_icon {
  display: block;
  height: 22px;
  line-height: 22px;
  font-family: 'iconfont', sans-serif;
  font-size: 20px;
}

.elevator_totop_txt {
  display: block;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
}

.elevator_totop:hover {
  color: #fff;
  background: #c81623;
}

@charset "UTF-8";
#app {
  position: relative;
  z-index: 10;
}

.jd_container {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}

.jd_container.floor {
  height: 340px;
  margin-top: 20px;
  margin-bottom: 20px;
}

