#whole{
	position:relative;
	width: 100%;
	height: 700px;
}
#top{
	position: absolute;
	left: 40%;
	text-align: center;
}
#deng{
	font-size: 10px;
	position: absolute;
	top: 55px;
	left: 1250px

}
#deng img{
	position: absolute;
	top: -3px;
	left: -27px;

}
#deng a{
	color: rgb(153,153,153);

}

#law{
	position: absolute;
	height: 45px;
	width: 100%;
	background-color: rgb(255,248,240);
	top: 80px;
}
#lawo{
	font-size: 7px;
	position: absolute;
	height: 20px;
	width: 100%;
	background-color: rgb(255,248,240);
	top: 8px;
}
#lawo img{
	position: absolute;
	left: 472px;
	top: -4px;
}
#lawo p{
	color: rgb(153,153,153);
	position: absolute;
	left: 500px;
	top: -10px;
}
#red{
	position: absolute;
	width: 100%;
	height: 470px;
	top: 120px;
	background-color:rgb(243,39,40);
}
#inner{
	position: absolute;
	width: 900px;
	height: 450px;
	left: 450px;
	top: 0px;

}
#lu{
	position: absolute;
	top: 5px;
	width: 370px;
	height: 100px;
	left: 1030px;
	background-color: white;

}
#jg{
	position: absolute;
	font-size: 10px;
	width:370px;
	height: 40px;
	background-color:rgb(255,248,240);
}
#jg p{
	position: absolute;
	top: 0px;
	left: 65px;
    color: rgb(153,153,153);
}
#jg img{
	position: absolute;
	top: 5px;
	left: 35px;
}
#saoma
{
	 color: rgb(153,153,153);
	position: absolute;
	top: 50px;
	left: 50px;
	font-size: 20px;
}
#zhanghu
{
	 color: rgb(153,153,153);
	position: absolute;
	top: 50px;
	left: 220px;
	font-size: 20px;
}
#show1
{
	position: absolute;
    top: 100px;
	width: 370px;
	height: 300px;
	font-size: 12px;
	background-color: rgb(255,255,255);
	color: rgb(102,102,102);
	display:none;
}
#s input
{
	position: absolute;
	left: 80px;
	width: 260px;
	height: 34px;
}
#s img
{
	position: absolute;
    left: 40px;
}
#s a
{
	position: absolute;
    left: 290px;
    top: 130px;
    text-decoration: none;
}
#serweima
{
	position: absolute;
    top: 100px;
	width: 370px;
	height: 330px;
	font-size: 12px;
	background-color: rgb(255,255,255);
	color: rgb(102,102,102);
}
#erweima
{
    position: absolute;
    top: 0px;
    left: 100px;
	width: 160px;
	height: 160px;
}
#serweima ul
{
    position: absolute;
    top: 180px;
    left: 70px;
	width: 160px;
	height: 160px;
	
}
#serweima li
{
    position: absolute;
    top: 0px;
    left: 120px;
	width: 160px;
	height: 160px;
	
}
#serweima p
{
    position: absolute;
    top: 210px;
    left: 80px;
    color: rgb(153,153,153);
	
}

#qq{
	position: absolute;
	top: 380px;
	width: 370px;
	height: 60px;
	
}
#qq a
{ 
	color: rgb(153,153,153);
	float: left;
	margin: 10px 40px 5px 15px;
	font-size: 10px;
}
#qq span
{ 
	position: absolute;
	top: 15px;
}
#ljzc
{
	position: absolute;
	top:5px;
	left: 243px;
}
#ljzc img
{
	position: absolute;
	top:7px;
	left: -10px;
}
#qq1{
	position: absolute;
	top: 250px;
	width: 370px;
	height: 60px;
	
}
#qq1 a
{ 
	color: rgb(153,153,153);
	float: left;
	margin: 10px 40px 5px 15px;
	font-size: 10px;
}
#qq1 span
{ 
	position: absolute;
	top: 15px;
}
#ljzc1
{
	position: absolute;
	top:5px;
	left: 243px;
}
#ljzc1 img
{
	position: absolute;
	top:7px;
	left: -10px;
}
#bottom
{	
	position: absolute;
	width: 800px;
	height: 100px;
	top: 610px;
    left: 400px;
    color: rgb(153,153,153);
}
#links
{
	position: absolute;
	width: 1000px;
}
#links li
{
	font-size: 13px;
	float: left;
}
#links a{
	color: rgb(102,102,102);
}
#copyright p{
	font-size: 11px;
	position: absolute;
	top: 10px;
	left: 280px;

}