#wrapper{
	width: 100%;
	position: relative;
	margin: 0 auto;
}
.table123{
	width:33%;
	float:left;


}
.jia11{
	background-color: white;

	width:90px;
	height: 28px;

	border: 1px solid rgb(227,228,229);
	text-align: center;
}
.jia11 a{
	font-size: 14px;
	color:#E4393C;
	text-decoration: none;
	line-height: 26px;
}

.num11 {
	color: red;
	font-size: 20px;
//text-decoration: none;
	font-weight: bold;
}
#top{
	width:100%;
	height: 40px;
	background-color:rgb(227,228,229);
	position:absolute;
}
#topleft{
	top: 10px;
	left:30px;
	position: absolute;
}
#topleft a{
	margin-left:30px;
	color:black;
	font-size:3px;
	text-decoration:none;
	float:left;
}
#topright{
	top: -5px;
	left:45%;
	position:absolute;
}
#topright a{
	padding-left:5px;
	float:left;
	color:black;
	font-size:3px;
	text-decoration:none;
}
#head{
	width: 100%;
	height:120px;
	float:left;
}
#headleft{
	position:absolute;
	top:55px;
	left:35px;
	float: left;
}
#headright{
	position: absolute;
	left:450px;
	top:75px;
	float: left;
}
#hd1{
	width: 450px;
	height: 37px;
	border: 2px solid red;
	float:left;
}
#hd2{
	width: 70px;
	height: 37px;
	background-color:red;
	border: none;
	float: left;
}
#gwc{
	position: absolute;
	top:75px;
	left: 990px;
	float: left;
}
#kind{
	position: absolute;
	left: 410px;
	top: 100px;
}
#kind a{
	font-size: 12px;
	color: black;
	float: left;
	text-decoration:none;
}
#line{
	position: absolute;
	height: 2px;
	background-color: red;
	width: 100%;
	top:180px;
}
#downleft{
	height: 37px;
	width: 180px;
	background-color:red;
	left:60px;
	top:143px;
	position: absolute;
}
#downleft a{
	font-size: 15px;
	color: white;
	text-decoration: none;
	line-height: 35px;
}
#downright{
	height: 37px;
	left: 260px;
	top: 155px;
	position: absolute;
}
#downright a{
	float: left;
	width: 80px;
	color: black;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}
#tuijian{
	left: 60px;
	position: absolute;
	top: 195px;
}
#mid1{
	float: left;
	left: 60px;
	top: 350px;
	position: absolute;
}
#mid1 a{
	float: left;
	color: black;
	text-decoration: none;
	line-height: 35px;
	font-weight: bold;
}
#mid2{
	float: left;
	left: 155px;
	top: 350px;
	position: absolute;
}
#mid2 a{
	float: left;
	color: black;
	text-decoration: none;
	line-height: 35px;
}
#midhead{
	position: absolute;
	width: 1210px;
	height: 37px;
	top:390px;
	left: 60px;
	border: 1px solid rgb(227,228,229);
	background-color: rgb(241,241,241);
}
#mdhleft{
	position: absolute;
	top:390px;
	width: 200px;
	left:65px;
}
#mdhleft a{
	font-size: 14px;
	color: red;
	font-weight: bold;
	text-decoration: none;
	line-height: 40px;
}
#mdhmiddle{
	position: absolute;
	float: left;
	top:390px;
	width: 180px;
	left:160px;
}
#mdhmiddle a {
	float: left;
	font-size: 13px;
	color:black;
	font-weight: bold;
	text-decoration: none;
	line-height: 39px;
}
#midright{
	position: absolute;
	float: left;
	top: 390px;
	width: 250px;
	left:230px;
}
#midright a{
	float: left;
	font-size: 12px;
	color: black;
	text-decoration: none;
	line-height: 41px;
}
#brand a{
	position: absolute;
	font-size: 12px;
	left: 70px;
	width: 50px;
	top: 438px;
	text-decoration: none;
	color: black;
}
#brandvalue{
	position: absolute;
	left: 180px;
	top: 438px;
	border: 1px solid rgb(227,228,229);
}
#dottedline1{
	position: absolute;
	width: 1210px;
	left: 60px;
	top: 550px;
	border: 1px dashed rgb(227,228,229);
}
#price a{
	position: absolute;
	font-size: 12px;
	left: 72px;
	width: 50px;
	top: 558px;
	text-decoration: none;
	color: black;
}
#pricenum{
	position: absolute;
	left: 180px;
	top: 558px;
}
#pricenum a{
	width: 100px;
	float: left;
	font-size: 12px;
	text-decoration: none;
	color: black;
}
#pricebutton{
	position: absolute;
	left: 450px;
	top: 558px;
}
#pb1{
	position: absolute;
	left: 880px;
	top: 556px;
	width: 40px;
	height: 20px;
}
#point{
	position: absolute;
	left: 923px;
	top: 548px;
	color: rgb(241,241,241);
}
#pb2{
	position: absolute;
	top: 556px;
	width: 40px;
	height: 20px;
	left: 935px;
	float: left;
}
#pb3{
	position: absolute;
	top: 556px;
	width: 40px;
	height: 20px;
	left: 980px;
	float: left;
}
#dottedline2{
	position: absolute;
	width: 1210px;
	left: 60px;
	top: 582px;
	border: 1px dashed rgb(227,228,229);
}
#interface a{
	position: absolute;
	font-size: 12px;
	left: 72px;
	width: 50px;
	top: 590px;
	text-decoration: none;
	color: black;
}
#interfacename{
	position: absolute;
	left: 180px;
	top: 590px;
}
#interfacename a{
	width: 100px;
	float: left;
	font-size: 12px;
	text-decoration: none;
	color: black;
}
#dottedline3{
	position: absolute;
	width: 1210px;
	left: 60px;
	top: 614px;
	border: 1px dashed rgb(227,228,229);
}
#volume a{
	position: absolute;
	font-size: 12px;
	left: 72px;
	width: 50px;
	top: 622px;
	text-decoration: none;
	color: black;
}
#volumenum{
	position: absolute;
	left: 180px;
	top: 622px;
}
#volumenum a{
	width: 100px;
	float: left;
	font-size: 12px;
	text-decoration: none;
	color: black;
}
#dottedline4{
	position: absolute;
	width: 1210px;
	left: 60px;
	top: 646px;
	border: 1px dashed rgb(227,228,229);
}
#family a{
	position: absolute;
	font-size: 12px;
	left: 72px;
	width: 50px;
	top: 654px;
	text-decoration: none;
	color: black;
}
#familyname{
	position: absolute;
	left: 180px;
	top: 654px;
}
#familyname a{
	width: 100px;
	float: left;
	font-size: 12px;
	text-decoration: none;
	color: black;
}
#dottedline5{
	position: absolute;
	width: 1210px;
	left: 60px;
	top: 678px;
	border: 1px dashed rgb(227,228,229);
}
#game a{
	position: absolute;
	font-size: 12px;
	left: 72px;
	width: 70px;
	top: 686px;
	text-decoration: none;
	color: black;
}
#gameq{
	position: absolute;
	left: 180px;
	top: 686px;
}
#gameq a{
	width: 100px;
	float: left;
	font-size: 12px;
	text-decoration: none;
	color: black;
}
#dottedline6{
	position: absolute;
	width: 1210px;
	left: 60px;
	top: 710px;
	border: 1px dashed rgb(227,228,229);
}
#people a{
	position: absolute;
	font-size: 12px;
	left: 72px;
	width: 50px;
	top: 718px;
	text-decoration: none;
	color: black;
}
#peoplesay{
	position: absolute;
	left: 180px;
	top: 718px;
}
#peoplesay a{
	width: 100px;
	float: left;
	font-size: 12px;
	text-decoration: none;
	color: black;
}
#dottedline7{
	position: absolute;
	width: 1210px;
	left: 60px;
	top: 145px;
	border: 1px dashed rgb(227,228,229);
}
#spselect{
	position: absolute;
	width: 215px;
	height: 650px;
	background-color:rgb(250,250,250);
	border: 2px solid rgb(255,255,255);
	left: 60px;
	top: 145px;
}
#spselect1{
	position: absolute;
	width: 80px;
	left: 72px;
	top: 150px;
}
#spselect1 a{
	position: absolute;
	color: black;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
#spselect2{
	position: absolute;
	left: 240px;
	top: 150px;
}
#spselect2 a{
	color:rgb(227,228,229);
	font-size: 1px;
	text-decoration: none;
}
#spselect3{
	position: absolute;
	top:145px;
	background-color: rgb(241,241,241);
	width: 985px;
	left: 285px;
	border: 1px solid rgb(227,228,229);
	height: 37px;
}
#center1{
	position: absolute;
	top:231px;
	background-color: white;
	width: 985px;
	left: 285px;
	border: 1px solid rgb(227,228,229);
	/*height: 550px;*/
}




#xl{
	position: absolute;
	background-color:red;
	width:45px;
	height: 24px;
	left: 292px;
	top: 150px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#xl a{
	font-size: 14px;
	color:white;
	text-decoration: none;
	line-height: 24px;
}
#jg{
	background-color: white;
	position: absolute;
	width:45px;
	height: 24px;
	left: 338px;
	top: 150px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#jg a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 24px;
}
#pls{
	background-color: white;
	position: absolute;
	width:55px;
	height: 24px;
	left: 382px;
	top: 150px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#pls a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 24px;
}
#sjsj{
	background-color: white;
	position: absolute;
	width:75px;
	height: 24px;
	left: 438px;
	top: 150px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}

#shuzi{
	background-color: white;
	position: absolute;
	width:75px;
	height: 24px;
	left: 888px;
	top: 150px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#sjsj a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 24px;
}
#shuzi a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 24px;
}
#prev{
	position: absolute;
	left: 1085px;
	top: 150px;
	border: 1px solid rgb(227,228,229);
	background-color: white;
	text-align: center;
	width: 55px;
	height: 24px;
}
#first{
	position: absolute;
	left: 1030px;
	top: 150px;
	border: 1px solid rgb(227,228,229);
	background-color: white;
	text-align: center;
	width: 55px;
	height: 24px;
}
#last{
	position: absolute;
	left: 1195px;
	top: 150px;
	border: 1px solid rgb(227,228,229);
	background-color: white;
	text-align: center;
	width: 55px;
	height: 24px;
}
#prev a{
	font-size: 18px;
	color:#AAAAAA;
	line-height: 26px;
	text-decoration: none;
}
#first a{
	font-size: 18px;
	color:#AAAAAA;
	line-height: 26px;
	text-decoration: none;
}
#last a{
	font-size: 18px;
	color:#AAAAAA;
	line-height: 26px;
	text-decoration: none;
}
#next{
	position: absolute;
	left: 1140px;
	top: 150px;
	border: 1px solid rgb(227,228,229);
	background-color: white;
	text-align: center;
	width: 55px;
	height: 24px;
}
#next a{
	font-size: 18px;
	color:#AAAAAA;
	line-height: 26px;
	text-decoration: none;
}
#psz{
	position: absolute;
	left: 292px;
	top: 191px;
}
#psz a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 24px;
}
#spselect4{
	position: absolute;
	float: left;
	top:182px;
	background-color: rgb(249,249,249);
	width: 985px;
	left: 285px;
	border: 1px solid rgb(227,228,229);
	height: 37px;
}
#psz1{
	position: absolute;
	width: 180px;
	left: 340px;
	height: 24px;
	top: 191px;
	border: 1px solid rgb(227,228,229);
	background-color: white;
}
#pszcheck1{
	position: absolute;
	top: 193px;
	left: 525px;
	width: 20px;
	height: 20px;
	color: black;
	font-size: 12px;
}
#pszcheck1 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 24px;
}
#psc1{
	width: 60px;
	position: absolute;
	top: -3px;
	left: 20px;
}
#pszcheck2{
	position: absolute;
	top: 193px;
	left: 610px;
	width: 20px;
	height: 20px;
	color: black;
	font-size: 12px;
}
#pszcheck2 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 24px;
}
#psc2{
	width: 60px;
	position: absolute;
	top: -3px;
	left: 20px;
}
#pszcheck3{
	position: absolute;
	top: 193px;
	left: 695px;
	width: 60px;
	height: 20px;
	color: black;
	font-size: 12px;
}
#pszcheck3 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 24px;
}
#psc3{
	width: 80px;
	position: absolute;
	top: -3px;
	left: 20px;
}
#pszcheck4{
	position: absolute;
	top: 193px;
	left: 795px;
	width: 60px;
	height: 20px;
	color: black;
	font-size: 12px;
}
#pszcheck4 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 24px;
}
#psc4{
	width: 80px;
	position: absolute;
	top: -3px;
	left: 20px;
}
#spleft1{
	position: absolute;
	left: 73px;
	top:205px;
}
#word1{
	position: absolute;
	left: 73px;
	top: 395px;
}
#word1 a{
	font-size: 11px;
	text-decoration: none;
	color: black;
}
#num1{
    position: absolute;
    left: 73px;
    top: 425px;
}
#num1 a{
	color: red;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
#send1{
	position: absolute;
	width: 35px;
	background-color: red;
	top: 428px;
	left: 162px;
	text-align: center;
}
#send1 a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
#evaluate1{
	position: absolute;
	left: 73px;
	top: 455px;
}
#evaluate1 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#spleft2{
	position: absolute;
	left: 73px;
	top:505px;
}
#word2{
	position: absolute;
	left: 73px;
	top: 695px;
}
#word2 a{
	font-size: 11px;
	text-decoration: none;
	color: black;
}
#num2{
	position: absolute;
	left: 73px;
	top: 725px;
}
#num2 a{
	color: red;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
#evaluate2{
	position: absolute;
	left: 73px;
	top: 755px;
}
#evaluate2 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#spleft3{
	position: absolute;
	left: 73px;
	top:805px;
}
#word3{
	position: absolute;
	left: 73px;
	top: 995px;
}
#word3 a{
	font-size: 11px;
	text-decoration: none;
	color: black;
}
#num3{
	position: absolute;
	left: 73px;
	top: 1025px;
}
#num3 a{
	color: red;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
#evaluate3{
	position: absolute;
	left: 73px;
	top: 1055px;
}
#evaluate3 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#kuang11{
	position: absolute;
	width: 250px;
	height: 430px;
	left: 283px;
	top: 860px;
	border: 1px solid rgb(227,228,229);
}
#spright11{
	position: absolute;
	left:300px;
	top:900px;
}
#num11{
	position: absolute;
	left: 298px;
	top: 1120px;
}

#num11 a{
	color: red;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
#word11{
	position: absolute;
	left:298px;
	top: 1155px;
}
#word11 a{
	font-size: 11px;
	text-decoration: none;
	color: black;
}
#evaluate11{
	position: absolute;
	left: 298px;
	top: 1190px;
}
#evaluate11 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#qijiandian11{
	position: absolute;
	left: 298px;
	top: 1210px;
}
#qijiandian11 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}

#duibi11{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 298px;
	top: 1255px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#duibi11 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#guanzhu11{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 358px;
	top: 1255px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#guanzhu11 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#jia11{
	background-color: white;
	position: absolute;
	width:90px;
	height: 28px;
	left: 419px;
	top: 1255px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#jia11 a{
	font-size: 14px;
	color:#E4393C;
	text-decoration: none;
	line-height: 26px;
}

#kuang12{
	position: absolute;
	width: 250px;
	height: 430px;
	left: 540px;
	top: 860px;
	border: 1px solid rgb(227,228,229);
}
#spright12{
	position: absolute;
	left:557px;
	top:900px;
}
#num12{
	position: absolute;
	left: 555px;
	top: 1120px;
}
#num12 a{
	color: red;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
#word12{
	position: absolute;
	left:555px;
	top: 1155px;
}
#word12 a{
	font-size: 11px;
	text-decoration: none;
	color: black;
}
#evaluate12{
	position: absolute;
	left: 555px;
	top: 1190px;
}
#evaluate12 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#qijiandian12{
	position: absolute;
	left: 555px;
	top: 1210px;
}
#qijiandian12 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#send12{
	position: absolute;
	width: 35px;
	background-color: red;
	top: 1230px;
	left: 555px;
	text-align: center;
}
#send12 a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
#duibi12{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 555px;
	top: 1255px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#duibi12 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#guanzhu12{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 615px;
	top: 1255px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#guanzhu12 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#jia12{
	background-color: white;
	position: absolute;
	width:90px;
	height: 28px;
	left: 675px;
	top: 1255px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#jia12 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#kuang13{
	position: absolute;
	width: 250px;
	height: 430px;
	left: 797px;
	top: 860px;
	border: 1px solid rgb(227,228,229);
}
#spright13{
	position: absolute;
	left:814px;
	top:900px;
}
#num13{
	position: absolute;
	left: 812px;
	top: 1120px;
}
#num13 a{
	color: red;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
#word13{
	position: absolute;
	left:812px;
	top: 1155px;
}
#word13 a{
	font-size: 11px;
	text-decoration: none;
	color: black;
}
#evaluate13{
	position: absolute;
	left: 812px;
	top: 1190px;
}
#evaluate13 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#qijiandian13{
	position: absolute;
	left: 812px;
	top: 1210px;
}
#qijiandian13 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#send13{
	position: absolute;
	width: 35px;
	background-color: red;
	top: 1230px;
	left: 812px;
	text-align: center;
}
#send13 a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
#duibi13{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 812px;
	top: 1255px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#duibi13 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#guanzhu13{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 872px;
	top: 1255px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#guanzhu13 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#jia13{
	background-color: white;
	position: absolute;
	width:90px;
	height: 28px;
	left: 932px;
	top: 1255px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#jia13 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}

#kuang14{
	position: absolute;
	width: 250px;
	height: 430px;
	left: 1054px;
	top: 860px;
	border: 1px solid rgb(227,228,229);
}
#spright14{
	position: absolute;
	left:1071px;
	top:900px;
}
#num14{
	position: absolute;
	left: 1069px;
	top: 1120px;
}
#num14 a{
	color: red;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
#word14{
	position: absolute;
	left:1069px;
	top: 1155px;
}
#word14 a{
	font-size: 11px;
	text-decoration: none;
	color: black;
}
#evaluate14{
	position: absolute;
	left:1069px;
	top: 1190px;
}
#evaluate14 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#qijiandian14{
	position: absolute;
	left: 1069px;
	top: 1210px;
}
#qijiandian14 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#send14{
	position: absolute;
	width: 35px;
	background-color: red;
	top: 1230px;
	left: 1069px;
	text-align: center;
}
#send14 a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
#duibi14{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 1069px;
	top: 1255px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#duibi14 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#guanzhu14{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 1129px;
	top: 1255px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#guanzhu14 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#jia14{
	background-color: white;
	position: absolute;
	width:90px;
	height: 28px;
	left: 1189px;
	top: 1255px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#jia14 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}



#kuang21{
	position: absolute;
	width: 250px;
	height: 430px;
	left: 291px;
	top: 1305px;
	border: 1px solid rgb(227,228,229);
}
#spright21{
	position: absolute;
	left:308px;
	top:1345px;
}
#num21{
	position: absolute;
	left: 306px;
	top: 1565px;
}
#num21 a{
	color: red;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
#word21{
	position: absolute;
	left:306px;
	top: 1600px;
}
#word21 a{
	font-size: 11px;
	text-decoration: none;
	color: black;
}
#evaluate21{
	position: absolute;
	left: 306px;
	top: 1635px;
}
#evaluate21 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#qijiandian21{
	position: absolute;
	left: 306px;
	top: 1655px;
}
#qijiandian21 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#send21{
	position: absolute;
	width: 35px;
	background-color: red;
	top: 1675px;
	left: 306px;
	text-align: center;
}
#send21 a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
#duibi21{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 306px;
	top: 1700px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#duibi21 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#guanzhu21{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 366px;
	top: 1700px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#guanzhu21 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#jia21{
	background-color: white;
	position: absolute;
	width:90px;
	height: 28px;
	left: 427px;
	top: 1700px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#jia21 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}

#kuang22{
	position: absolute;
	width: 250px;
	height: 430px;
	left: 548px;
	top: 1305px;
	border: 1px solid rgb(227,228,229);
}
#spright22{
	position: absolute;
	left:563px;
	top:1345px;
}
#num22{
	position: absolute;
	left: 563px;
	top: 1565px;
}
#num22 a{
	color: red;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
#word22{
	position: absolute;
	left:563px;
	top: 1600px;
}
#word22 a{
	font-size: 11px;
	text-decoration: none;
	color: black;
}
#evaluate22{
	position: absolute;
	left: 563px;
	top: 1635px;
}
#evaluate22 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#qijiandian22{
	position: absolute;
	left: 563px;
	top: 1655px;
}
#qijiandian22 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#send22{
	position: absolute;
	width: 35px;
	background-color: red;
	top: 1675px;
	left: 563px;
	text-align: center;
}
#send22 a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
#duibi22{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 563px;
	top: 1700px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#duibi22 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#guanzhu22{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 623px;
	top: 1700px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#guanzhu22 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#jia22{
	background-color: white;
	position: absolute;
	width:90px;
	height: 28px;
	left: 683px;
	top: 1700px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#jia22 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#kuang23{
	position: absolute;
	width: 250px;
	height: 430px;
	left: 805px;
	top: 1305px;
	border: 1px solid rgb(227,228,229);
}
#spright23{
	position: absolute;
	left:822px;
	top:1345px;
}
#num23{
	position: absolute;
	left: 820px;
	top: 1565px;
}
#num23 a{
	color: red;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
#word23{
	position: absolute;
	left:820px;
	top: 1600px;
}
#word23 a{
	font-size: 11px;
	text-decoration: none;
	color: black;
}
#evaluate23{
	position: absolute;
	left: 820px;
	top: 1635px;
}
#evaluate23 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#qijiandian23{
	position: absolute;
	left: 820px;
	top: 1655px;
}
#qijiandian23 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#send23{
	position: absolute;
	width: 35px;
	background-color: red;
	top: 1675px;
	left: 820px;
	text-align: center;
}
#send23 a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
#duibi23{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 820px;
	top: 1700px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#duibi23 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#guanzhu23{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 880px;
	top: 1700px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#guanzhu23 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#jia23{
	background-color: white;
	position: absolute;
	width:90px;
	height: 28px;
	left: 940px;
	top: 1700px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#jia23 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}

#kuang24{
	position: absolute;
	width: 250px;
	height: 430px;
	left: 1062px;
	top: 1305px;
	border: 1px solid rgb(227,228,229);
}
#spright24{
	position: absolute;
	left:1079px;
	top:1345px;
}
#num24{
	position: absolute;
	left: 1077px;
	top: 1565px;
}
#num24 a{
	color: red;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
#word24{
	position: absolute;
	left:1077px;
	top: 1600px;
}
#word24 a{
	font-size: 11px;
	text-decoration: none;
	color: black;
}
#evaluate24{
	position: absolute;
	left:1077px;
	top: 1635px;
}
#evaluate24 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#qijiandian24{
	position: absolute;
	left: 1077px;
	top: 1655px;
}
#qijiandian24 a{
	color: black;
	font-size: 10px;
	text-decoration: none;
}
#send24{
	position: absolute;
	width: 35px;
	background-color: red;
	top: 1675px;
	left: 1077px;
	text-align: center;
}
#send24 a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
#duibi24{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 1077px;
	top: 1700px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#duibi24 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#guanzhu24{
	background-color: white;
	position: absolute;
	width:60px;
	height: 28px;
	left: 1137px;
	top: 1700px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#guanzhu24 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}
#jia24{
	background-color: white;
	position: absolute;
	width:90px;
	height: 28px;
	left: 1197px;
	top: 1700px;
	border: 1px solid rgb(227,228,229);
	text-align: center;
}
#jia24 a{
	font-size: 14px;
	color:black;
	text-decoration: none;
	line-height: 26px;
}

