.rollBox{width: 800px;
    height: 260px;
    overflow: hidden;
    float: left;
}
.LeftBotton{
	left: 0px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
	position: relative;
    top: 50%;
    width: 25px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: -20px;
    font-size: 20px;
    z-index: 2;
    border: none;
    outline: none;
    transition: background-color ease 0.2s;
 }
.LeftBotton img{
 	margin-top: 4px;
    margin-left: -4px;
}
.RightBotton img{
    margin-top: 4px;
}
.RightBotton{
    left:775px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
	position: relative;
    top: 50%;
    width: 25px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: -35px;
    font-size: 20px;
    z-index: 2;
    border: none;
    outline: none;
    transition: background-color ease 0.2s;
}
.rollBox .Cont{
    width:800px;
    height: 260px;
    margin-top: -15px;
    overflow:hidden;
    float:left;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{width:200px;height: 260px;float:left;text-align:center;}
.rollBox .Cont .pic img{
    width:140px;
    height: 140px;
    background:#fff;
    display:block;
    margin-top: 30px;
    margin-left: 30px;
}
.rollBox .Cont .pic p{line-height:26px;color:#505050;}
.rollBox #List1,.rollBox #List2{width:800px;height: 260px;float:left;}
.seckill-item__name {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    font-size: 12px;
    font-weight: normal;
    transition: color ease 0.2s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.seckill-item__price {
    width: 160px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    border: 1px solid #e1251b;
    position: relative;
    box-sizing: border-box;
    line-height: 24px;
    overflow: hidden;
    background-color: #e1251b;
}
.price-miaosha {
    width: 92px;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    float: left;
}
.price-origin {
    height: 100%;
    width: 66px;
    float: right;
    background: #fff;
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    box-sizing: border-box;
    text-decoration: line-through;
    vertical-align: top;
}
.seckill-item {
    position: relative;
    width: 200px;
    height: 260px;
    display: inline-block;
}
.seckill-item:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 200px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: linear-gradient(180deg, white, #eeeeee, white);
}