@charset "utf-8";
/* banner */
.c-banner{
	float: left;
	width: 590px;
	height: 470px;
	position: relative;
}

.banner{
	margin-top: 0px;
}

.banner img{
	width: 500px;
	height: 470px;
}
.c-banner img{
	width: 100%;
}
.c-banner .banner ul{
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
}
.c-banner .banner ul li{
	position: absolute;
	display: none;
	opacity: 0;
}
.c-banner .banner ul li:nth-child(1){
	opacity: 1;
	display: block;
}
.c-banner .banner ul li img{
	width: 100%;
	position: absolute;
	top: 0px;
}
.c-banner .banner ul li:first-child img{
	position: relative;
}
.c-banner .preImg{
	left: 30px;
	cursor: pointer;
    position: absolute;
    z-index: 2;
    top: auto;
    bottom: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 0;
    background-color: rgba(0,0,0,.15);
}
.c-banner .nexImg{
	left: 201px;
	cursor: pointer;
    position: absolute;
    z-index: 2;
    top: auto;
    bottom: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 0;
    background-color: rgba(0,0,0,.15);
}
.c-banner .nexImg:hover,.c-banner .preImg:hover{
	opacity: 0.8;
}
.c-banner .nexImg{
	right: 0px;
}
.c-banner .preImg img{
	color: white;
    font-size: 25px;
    line-height: 30px;
    left: -1px;
    top: 1px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-family: iconfont,sans-serif;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
}
.c-banner .nexImg img{
	color: white;
    font-size: 25px;
    line-height: 30px;
    left: -1px;
    top: 1px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-family: iconfont,sans-serif;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
}
.c-banner .jumpBtn{
	position: absolute;
	font-size: 0;
    text-align: center;
	z-index: 2;
    margin-left: 0!important;
    left: 65px;
    bottom: 29px;
}
.c-banner .jumpBtn ul{
	margin-bottom: 0px;
	padding: 0px;
}

.c-banner .jumpBtn ul li{

	border-radius: 50%;
	display: inline-block;
	margin-left: 1px;

	width: 8px;
    height: 8px;
    margin-right: 4px;
    border: 2px solid rgba(255,255,255,.3);
    background-color: transparent;
}
.c-banner .jumpBtn ul li:first-child{
	margin-left: 0px;
}
@media screen and (max-width:768px) {
	.c-banner{
		width: 100%;
		height: 345px;
		overflow: hidden;
	}
	.c-banner .banner ul li img{
		width: 768px;
		height: 345px;
		position: absolute;
		left: 50%;
		margin-left: -384px;
	}
}

/*banner1*/
.c-banner1{
	float: left;
	margin-left: 10px;
	width: 190px;
	height: 150px;
	position: relative;
}

.banner1{
	margin-top: 0px;
    width: 190px;
    height: 150px;
    position: relative;
}

.banner1 img{
	width: 190px;
	height: 150px;
}

.c-banner1 .banner1 ul{
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
	
    width: 190px;
    height: 150px;
}
.c-banner1 .banner1 ul li{
	position: absolute;
	display: none;
	opacity: 0;
}
.c-banner1 .banner1 ul li:nth-child(1){
	opacity: 1;
	display: block;
}
.c-banner1 .banner1 ul li img{
	width: 100%;
	position: absolute;
	top: 0px;
}
.c-banner1 .banner1 ul li:first-child img{
	position: relative;
}
@media screen and (max-width:768px) {
	.c-banner1{
		width: 100%;
		height: 345px;
		overflow: hidden;
	}
	.c-banner1 .banner1 ul li img{
		width: 768px;
		height: 345px;
		position: absolute;
		left: 50%;
		margin-left: -384px;
	}
}

/*banner2*/
.c-banner2{
	float: left;
	margin-left: -190px;
	width: 190px;
	height: 150px;
	position: relative;
	margin-top: 160px;
}

.banner2{
	float: left;
	margin-top: 0px;
}

.banner2 img{
	width: 190px;
	height: 150px;
}

.c-banner2 .banner2 ul{
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
}
.c-banner2 .banner2 ul li{
	position: absolute;
	display: none;
	opacity: 0;
}
.c-banner2 .banner2 ul li:nth-child(1){
	opacity: 1;
	display: block;
}
.c-banner2 .banner2 ul li img{
	width: 100%;
	position: absolute;
	top: 0px;
}
.c-banner2 .banner2 ul li:first-child img{
	position: relative;
}
@media screen and (max-width:768px) {
	.c-banner2{
		width: 100%;
		height: 345px;
		overflow: hidden;
	}
	.c-banner2 .banner2 ul li img{
		width: 768px;
		height: 345px;
		position: absolute;
		left: 50%;
		margin-left: -384px;
	}
}

/*banner3*/
.c-banner3{
	float: left;
	margin-left: -190px;
	width: 190px;
	height: 150px;
	position: relative;

	margin-top: 320px;
}

.banner3{
	float: left;
	margin-top: 0px;
}

.banner3 img{
	width: 190px;
	height: 150px;
}

.c-banner3 .banner3 ul{
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
}
.c-banner3 .banner3 ul li{
	position: absolute;
	display: none;
	opacity: 0;
}
.c-banner3 .banner3 ul li:nth-child(1){
	opacity: 1;
	display: block;
}
.c-banner3 .banner3 ul li img{
	width: 100%;
	position: absolute;
	top: 0px;
}
.c-banner3 .banner3 ul li:first-child img{
	position: relative;
}
@media screen and (max-width:768px) {
	.c-banner3{
		width: 100%;
		height: 345px;
		overflow: hidden;
	}
	.c-banner3 .banner3 ul li img{
		width: 768px;
		height: 345px;
		position: absolute;
		left: 50%;
		margin-left: -384px;
	}
}